.App {
  width: 100%;
  max-width: 500px; /* Maksimalna širina, da ne bude preširoka na velikim ekranima */
  padding: 30px;
  background-color: #2e2e4a; /* Malo tamnija pozadina za kontejner */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.App h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #e94560; /* Akcentna boja */
}

/* Stil za horizontalnu liniju */
hr {
  border: 0;
  height: 1px;
  background: #3c3c6e;
  margin: 20px 0;
}