/* -- Osnovni Reseti -- */
* {
  box-sizing: border-box; /* Lakše računanje veličine elementa */
  margin: 0;
  padding: 0;
}

/* -- Glavni stilovi tela stranice -- */
body {
  /* Tamna pozadina za moderan izgled */
  background-color: #1a1a2e; 
  color: #e4e4e4; /* Svetli tekst */
  font-family: 'Arial', sans-serif; 
  /* Centriranje vertikalno i horizontalno (za to je potreban App.css) */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Počinjemo pri vrhu */
  padding-top: 50px;
}

/* -- Stilovi za dugmad -- */
button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Podrazumevani stil za dugmad */
button:hover {
  opacity: 0.9;
}